///* ========================================================================
//   #COLORS
//   ======================================================================== */
// All colors used in the project.

$cWhite : #FFF;
$cBlack : #161617;

$cLightGrey: #F9F9F9;
$cGrey: #828282;
$cDarkGrey: #6E6E6F;
$cRed: #ff0000;
$cYellow: #FFEE32;


/**
 * Social colors
 */
$cFacebook : #3B5998;
$cTwitter : #55ACEE;
$cPinterest : #CB2027;
$cBehance : #1769FF;
$cDribble : #EA4C89;
$cYoutube : #CD201F;
$cVimeo : #1AB7EA;
$cLinkedin : #0077B5;
$cGithub : #2F2F2F;
