.body {
    background-color: $cWhite;
}

.no-scroll {
  overflow: hidden;
}

a {
    text-decoration: none;
}

.excerpt {
    & p {
      font-family: 'Figtree', 'sans-serif';
      font-size: rem(18px);
      font-weight: 300;
      letter-spacing: -.012em;
      line-height: 1.8;
    }
  
    &--big {
      font-size: max(33.28px,min(2.6vw,49.92px));
      line-height: 1.2;
      font-weight: 200;
      padding-top: rem(100px);
      @include mq($until: laptop) {
        font-size: 5vw;
        line-height: 1.31;
      }
      @include mq($until: tablet) {
        font-size: 8vw;
        padding-top: rem(52px);
      }
    }
  }
  
.bold {
 font-weight: 600;
}
.extra-bold {
  font-weight: 800;
 }