.about {
    & .header {
        &__figure {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;        
            padding-left: rem(30px);
            @include mq($until: laptop) {
                padding-left: 0;
                max-width: rem(280px);
                max-height: rem(280px);
                margin: 0 auto;
            }
        }
        &__img {
            object-fit: contain;
        }
        &__content {
            @include mq($until: tablet) {
                padding-bottom: 0;
            }
            &-inner {
                @include mq($until: tablet) {
                    padding-bottom: 0;
                }
            }
        }
    }

    &__s1 {
        background-color: $cLightGrey;
        padding-top: rem(150px);
        
        &__inner {
            position: relative;
            margin-top: rem(91px);
            padding-top: rem(100px);
            padding-bottom: rem(100px);
            margin-bottom: rem(50px);
            @include mq($until: laptop) {
                padding-top: rem(74px);
                padding-bottom: rem(80px);
            }
            @include mq($until: tablet) {
                padding: 0;
                margin-bottom: 0;
            }

            &::before {
                content: "";
                display: block;
                background-color: $cWhite;
                pointer-events: none;
                position: absolute;
                top: 10rem;
                bottom: 0;
                left: -100vw;
                right: -100vw;
            }
        }

        &__container {
            position: relative;
            margin-left: auto;
            background-color: $cLightGrey;
            max-width: rem(915px);
            padding: rem(100px) rem(90px);
            z-index: 2;
            @include mq($until: laptop) {
                padding: rem(40px) rem(26px);
                margin-left: rem(94px);
                max-width: rem(720px);
            }
            @include mq($until: tablet) {
                max-width: 100%;
                padding: rem(25px);
                margin-left: auto;
                margin-bottom: rem(50px);
            }

            & .excerpt--big {
                padding-top: 0;
                margin-bottom: rem(50px);
            }
        }

        &__content {
            padding-top: rem(50px);
            @include mq($until: tablet) {
                padding-top: rem(30px);
            }
            & .excerpt {
                p {
                    line-height: 1.9;
                    @include mq($until: tablet) {
                        font-size: rem(16px);
                    }
                }
                p + p {
                    padding-top: rem(36px);
                }
            }
        }

        &__figure {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50%;
            max-width: rem(620px);
            height: 100%;
            z-index: 1;
            @include mq($until: tablet) {
                width: 100%;
                max-width: 100%;
                position: relative;
            }
        }

        &__img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            @include mq($until: tablet) {
                height: rem(300px);
                object-position: 50%;
            }
        }
    }
}