.home__s1 {
    background-color: $cLightGrey;
    padding-top: rem(150px);
    padding-bottom: rem(150px);

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include mq($until: tablet) {
            grid-template-columns: 1fr;
        }

        & .excerpt {
            padding-top: rem(100px);
            padding-left: rem(60px);
            @include mq($until: tablet) {
                padding-top: rem(32px);
                padding-left: 0;
            }
            & p {
                margin-bottom: rem(55px);
                @include mq($until: tablet) {
                    margin-bottom: rem(30px);
                }
            }
        }
    }
}